[submodule "examples/cdsl/rv_base"]
	path = examples/cdsl/rv_base
	url = https://github.com/tum-ei-eda/RISCV_ISA_CoreDSL.git
[submodule "examples/cdsl/rv_xcorev"]
	path = examples/cdsl/rv_xcorev
	url = https://github.com/tum-ei-eda/CoreV_ISA_CoreDSL.git
[submodule "examples/cdsl/rv_s4e"]
	path = examples/cdsl/rv_s4e
	url = https://github.com/DLR-SE/riscv-coredsl-extensions.git
[submodule "examples/cdsl/rv_gen"]
	path = examples/cdsl/rv_gen
	url = https://github.com/PhilippvK/Gen_ISA_CoreDSL.git
[submodule "examples/cdsl/rv_openasip"]
	path = examples/cdsl/rv_openasip
	url = https://github.com/PhilippvK/OpenASIP_ISA_CoreDSL.git
