__pycache__/
venv/
.venv/
build/
dist/
*.egg-info/


#==============================================================================#
# Seal5
#==============================================================================#
.seal5


#==============================================================================#
# Seal5
#==============================================================================#
.seal5
